#!/bin/sh
LD_LIBRARY_PATH=/usr/local/lib
export LD_LIBRARY_PATH
cd /home/pi/WiControl
if ping -c 1 adrianbowyer.com &> /dev/null
then
 DAYOFWEEK=$(date +"%u")
 if [ "${DAYOFWEEK}" -eq 1 ]
 then    
   wget --timeout=15 --user ******* --password ******** http://adrianbowyer.com/Heating_Control/aandc-profile-monday.dat -O profile.dat
 elif [ "${DAYOFWEEK}" -eq 2 ]
 then    
   wget --timeout=15 --user ******* --password ******** http://adrianbowyer.com/Heating_Control/aandc-profile-tuesday.dat -O profile.dat
 elif [ "${DAYOFWEEK}" -eq 3 ]
 then    
   wget --timeout=15 --user ******* --password ******** http://adrianbowyer.com/Heating_Control/aandc-profile-wednesday.dat -O profile.dat
 elif [ "${DAYOFWEEK}" -eq 4 ]
 then    
   wget --timeout=15 --user ******* --password ******** http://adrianbowyer.com/Heating_Control/aandc-profile-thursday.dat -O profile.dat
 elif [ "${DAYOFWEEK}" -eq 5 ]
 then    
   wget --timeout=15 --user ******* --password ******** http://adrianbowyer.com/Heating_Control/aandc-profile-friday.dat -O profile.dat
 elif [ "${DAYOFWEEK}" -eq 6 ]
 then    
   wget --timeout=15 --user ******* --password ******** http://adrianbowyer.com/Heating_Control/aandc-profile-saturday.dat -O profile.dat
 elif [ "${DAYOFWEEK}" -eq 7 ]
 then    
   wget --timeout=15 --user ******* --password ******** http://adrianbowyer.com/Heating_Control/aandc-profile-sunday.dat -O profile.dat
 else
   echo "Can't find the day of the week!"
 fi
 cp profile.dat backup-profile.dat
else
 cp backup-profile.dat profile.dat
fi
./Host-software/Debug/Heating -p /dev/ttyUSB0 -i profile.dat -o aandc-temperatures.dat > Status 2>&1
/usr/local/bin/wput --tries=2 aandc-temperatures.dat ftp://heating@adrianbowyer.com:*********@ftp.adrianbowyer.com:21/aandc-temperatures.dat
if [ -f Log ]
then
 cat Status >> Log
fi
